.loadingScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loadingText {
  color: snow;
  font-size: 4em;
  font-weight: bold;
  margin-right: 1em;
}
